.dd1:hover>.ddm1 {
    display: block;
}
.dd2:hover>.ddm2 {
    display: block;
}
.dd3:hover>.ddm3 {
    display: block;
}
.dd4:hover>.ddm4 {
    display: block;
}
.dd5:hover>.ddm5 {
    display: block;
}
.dd6:hover>.ddm6 {
    display: block;
}
.dd7:hover>.ddm7 {
    display: block;
}
.dd8:hover>.ddm8 {
    display: block;
}

.main-text
{
    position: absolute;
    top: 40px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.p1{
    font-size: 3em;
}
@media screen and (max-width: 600px) {
    .p1 {
        font-size: 2em;
    }
}
@media screen and (max-width: 400px) {
    .p1 {
        font-size: 1em;
    }
}
@media screen and (max-width: 480px) {
    .slider1 {
        height: 180px !important;
    }
}

